In [2]:
import numpy as np
import pandas as pd
dict1={"student names":['tejaswi','ramya','askaya','harika'],
       "rollno":['19881A05B9','19881A0521','19881A1262','19881A0485'],
       "ssc":['9.5','10','9.8','10'],
       "inter":['925','982','987','987'],
       "cgpa":['8.21','9.3','8.9','9.5'],
       "programming language preffered":['python','java','c','python']}
dict1

{'student names': ['tejaswi', 'ramya', 'askaya', 'harika'],
 'rollno': ['19881A05B9', '19881A0521', '19881A1262', '19881A0485'],
 'ssc': ['9.5', '10', '9.8', '10'],
 'inter': ['925', '982', '987', '987'],
 'cgpa': ['8.21', '9.3', '8.9', '9.5'],
 'programming language preffered': ['python', 'java', 'c', 'python']}

In [3]:
df=pd.DataFrame(dict1)
df

  student names      rollno  ssc inter  cgpa programming language preffered
0       tejaswi  19881A05B9  9.5   925  8.21                         python
1         ramya  19881A0521   10   982   9.3                           java
2        askaya  19881A1262  9.8   987   8.9                              c
3        harika  19881A0485   10   987   9.5                         python